<mat-dialog-content>
  <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">Registrar
    Parcialidad
  </h1>
  <form [formGroup]="form" class="space-y-4 md:space-y-6">
    <mat-label class="block text-sm font-medium text-gray-900 dark:text-white">No. Cuenta</mat-label>
    <mat-form-field appearance="outline" class="w-full uppercase font-black">
      <input matInput type="text" class="outline-0 focus:ring-0 text-center" maxlength="25" formControlName="noCuenta">
    </mat-form-field>
    <mat-label class="block text-sm font-medium text-gray-900 dark:text-white">No. Parcialidad</mat-label>
    <mat-form-field appearance="outline" class="w-full lowercase font-black">
      <input matInput type="text" class="outline-0 focus:ring-0 text-center" formControlName="parcialidadId">
    </mat-form-field>
    <mat-label class="block text-sm font-medium text-gray-900 dark:text-white">Peso a Registrar (Toneladas)</mat-label>
    <mat-form-field appearance="outline" class="w-full">
      <input matInput type="text" class="outline-0 focus:ring-0" formControlName="pesoRegistrado">
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="container text-center">
    <button mat-raised-button (click)="cerrar()"><mat-icon>close</mat-icon>Cerrar</button>
    <button class="mx-3" mat-raised-button (click)="enviar()"
      [disabled]="form.invalid"><mat-icon>done</mat-icon>Enviar</button>
  </div>
</mat-dialog-actions>