<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
  <button mat-raised-button class="mx-3" (click)="crearParcialidad()">Crear Parcialidad</button>
<ng-container *ngIf="showBtn$ | async; else Loading">
  <button mat-raised-button (click)="verParcialidades()">Ver Parcialidades</button>
  <button mat-raised-button class="mx-3" *ngIf="showTable" (click)="generarQr()">Generar QR</button>
  <div class="my-5" *ngIf="showTable">
    <app-mat-table [tableColumns]="tableCols" [headerText]="hText" [tableData]="tableData">
    </app-mat-table>
  </div>
</ng-container>
<ng-template #Loading>
  <span>NO TIENE PARCIALIDADES REGISTRADAS</span>
</ng-template>