<!--* TABLA GENERICA -->
<mat-card-content class="mat-elevation-z2">
  <table mat-table [dataSource]="tableDataSrc" matSort matSortDisabled class="table-auto">
    <ng-container *ngFor="let col of tableCols; index as i" matColumnDef="{{ col }}">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ headerText[i] |
        uppercase }}
      </th>
      <td mat-cell *matCellDef="let profile">{{ profile[col] | uppercase }}
        <!-- <ng-container *ngIf="col === 'licenciaPiloto'">
          <a class="mouse text-blue-500 hover:text-blue-700"
            (click)="obtenerGestion(profile['object'])">{{profile['qrlicencia']
            | uppercase}}</a>
        </ng-container> -->
        <ng-container *ngIf="col === 'actionRegister'">
          <ng-container *ngIf="!profile['parcialidadRegistrada'] else notVisible">
            <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
              (click)="registrarParcialidad(profile['noCuenta'], profile['parcialidadId'], profile['pesoIngresado'])">Registrar</button>
          </ng-container>
          <ng-template #notVisible>
            <mat-icon style="font-size: 1.5rem; color: #1369a0; font-weight: bold;">disabled_visible
            </mat-icon>
          </ng-template>
        </ng-container>
        <ng-container *ngIf="col === 'actionUpdate'">
          <ng-container *ngIf="profile['parcialidadRegistrada'] && !profile['parcialidadVerificada'] else notVisible">
            <button class="bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded"
              (click)="actualizarParcialidad(profile['noCuenta'], profile['parcialidadId'], profile['pesoIngresado'])">Actualizar</button>
          </ng-container>
          <ng-template #notVisible>
            <mat-icon style="font-size: 1.5rem; color: #1369a0; font-weight: bold;">disabled_visible
            </mat-icon>
          </ng-template>
        </ng-container>
        <ng-container *ngIf="col === 'actionVerificar'">
          <ng-container *ngIf="profile['parcialidadRegistrada'] && !profile['parcialidadVerificada'] else notVisible">
            <button class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded"
              (click)="verificarParcialidad(profile['parcialidadId'])">Verificar</button>
          </ng-container>
          <ng-template #notVisible>
            <mat-icon style="font-size: 1.5rem; color: #1369a0; font-weight: bold;">disabled_visible
            </mat-icon>
          </ng-template>
        </ng-container>
        <ng-container *ngIf="col === 'tolerancia'">
          <p *ngIf="profile['mostrar']  == '0'" class="bg-green-500 text-white font-bold py-2 px-4 rounded">
            {{profile['calculoTolerancia']}}</p>
          <p *ngIf="profile['mostrar']  == '1'" class="bg-blue-500 text-white font-bold py-2 px-4 rounded">
            {{profile['calculoTolerancia']}}</p>
          <p *ngIf="profile['mostrar']  == '2'" class="bg-red-500 text-white font-bold py-2 px-4 rounded">
            {{profile['calculoTolerancia']}}</p>
        </ng-container>
        <ng-container *ngIf="col === 'aprobar'">
          <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
            (click)="aprobarSolicitud(profile['noSolicitud'])">Aprobar</button>
        </ng-container>
        <ng-container *ngIf="col === 'rechazar'">
          <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
            (click)="rechazarSolicitud(profile['noSolicitud'])">Rechazar</button>
        </ng-container>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="tableCols; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: tableCols;"></tr>
  </table>
  <!--* PAGINACION -->
  <mat-paginator [pageSizeOptions]="[5, 10, 15, 20]" showFirstLastButtons>
  </mat-paginator>
</mat-card-content>